Xft.hinting: true
Xft.antialias: true

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: 1

URxvt.allow_bold: true
URxvt*letterSpace: -1
URxvt*font: xft:Fira Code:medium:size=9
URxvt*boldFont: xft:Fira Code:bold:size=9
URxvt.internalBorder: 5

URxvt.background: #282828
URxvt.foreground: #BDBDBD

URxvt*color4: #2196F3
URxvt*color12: #2196F3
