Xft.hinting: true
Xft.antialias: true

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: 1

URxvt.font: xft:xos4 Terminus:size=9

URxvt.background: #212121
URxvt.foreground: #BDBDBD

URxvt*color4: RoyalBlue
URxvt*color12: RoyalBlue
